@import "skins/ekiti";

.default-color {
  color: $leftmenu_color;
}

.bg-default-card {
  border: 1px solid $leftmenu_color;
  >.card-header {
    background-color: $leftmenu_color;
    color: #fff;
  }
}

.list-font {
  font-size: 10px;
  color: $leftmenu_color;

 &:hover {
   color: $content_color;
 }
}

.ekiti-btn {
  font-size: 10px;
  color: $leftmenu_color;
  border-color: $leftmenu_color;

  &:hover {
    background-color: $content_color;
    border-color: $content_color;
  }
}

.btn-school {
  width: 200px;
  align-self: center;
  margin-left: calc(50% -  100px);
  margin-top: 30px;
  background-color: $content_color;
  border-color: $content_color;

  &:hover {
    background-color: $content_color;
    border-color: $content_color;
  }
}
input[type="text"], input[type="email"], input[type="number"], input[type="url"], select {
  height: 40px;
}